<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4 offset-1 col-sm-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-6 offset-1 col-sm-3">
        <h5>Contact Information</h5>
        <address>
          Capital Federal, Buenos Aires<br />
          Argentina<br />

          <i class="fab fa-lg fa-whatsapp"></i>: +54
          91167586967<br />
          <i class="fa fa-lg fa-envelope-square"></i>:
          <a href="mailto:iarce@dc.uba.ar">iarce@dc.uba.ar</a>
        </address>
      </div>
      <div class="col-12 col-sm-4 align-self-center">
        <div class="text-center">
          <a href="http://github.com/acernacho"><i class="fab fa-github fa-3x"></i></a>
          <a href="http://www.linkedin.com/in/ignacio-arce/"><i
              class="fab fa-linkedin fa-3x"></i></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>© Copyright 2020 Ignacio Arce</p>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/all.min.js"></script>
<script src=""></script>