<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-2 offset-sm-1 col-sm-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          {% for item in site.data.nav.links[site.lang] %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-8 offset-1 col-sm-3">
        <h5>{% t site.footer.info %}</h5>
        <address> Buenos Aires,
          Argentina<br />

          <i class="fab fa-lg fa-whatsapp" aria-hidden="true"></i>: <a target="_blank" href="{{ site.whatsapp.link }}">
            {{ site.whatsapp.number }}
          </a>
          <br />
          <i class="fa fa-lg fa-envelope" aria-hidden="true"></i>: <a href="mailto:{{ site.author.email }}">
            {{ site.author.email }}
          </a>
        </address>
      </div>
      <div class="col-12 col-sm-4 align-self-center">
        <div class="text-center">
          <a href="http://github.com/ignacio-arce"><i class="fab fa-github fa-3x"></i></a>
          <a href="http://www.linkedin.com/in/ignacio-arce/"><i class="fab fa-linkedin fa-3x"></i></a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p>© Copyright {{ site.author.copyright-year }} {{ site.author.name }}</p>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="/assets/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/assets/js/popper.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/all.min.js"></script>
{% if page.url == '/contact' %}
<script type="text/javascript" src="/assets/js/form.js"></script>{% endif %}