<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="acerNacho" />
<meta name="description" content="{% t site.description %}" />
<meta name="keywords" content="{% t site.keywords %}" />

<!-- Favicon -->
<link rel="icon" href="../img/favicon.ico" />

<!-- Style CSS -->
<link rel="stylesheet" href="/assets/css/styles.css" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="/assets/css/styles.css" />
<link rel="stylesheet" href="/assets/css/all.min.css" />