<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="Navbar">
            <div id="covid" class="hide">
                <div class="badge d-none d-sm-block badge-danger" id="covid-confirmed">Coronavirus <img
                        class="align-self-center mb-1" src='img/flag-ar.png' alt='Argentina' title="Argentina" /> Confirmados : </div>
            </div>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if site.data.nav.links[0].url == page.url %}active{% endif %}">
                    <a class="nav-link" href="{{ site.data.nav.links[0].url }}"><span class="fa fa-home fa-lg"></span>
                        {{ site.data.nav.links[0].title }}</a>
                </li>
                <li class="nav-item {% if site.data.nav.links[1].url == page.url %}active{% endif %}">
                    <a class="nav-link" href="{{ site.data.nav.links[1].url }}"><span class="fa fa-info fa-lg"></span>
                        {{ site.data.nav.links[1].title }}</a>
                </li>
                <li class="nav-item {% if site.data.nav.links[2].url == page.url %}active{% endif %}">
                    <a class="nav-link" href="{{ site.data.nav.links[2].url }}"><span
                            class="fa fa-address-card fa-lg"></span> {{ site.data.nav.links[2].title }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>