<nav class="navbar navbar-dark navbar-expand-sm fixed-top">
    <a class="navbar-brand rounded border border-light" href="#">
        <img src="/img/logo.png" alt="logo" style="width: 50px; height: 40px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.nav.links[site.lang] %}
                {%- assign variable = item.url | prepend: '/' -%}
                <li class="nav-item {% if variable == page.url or item.url == page.url %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url }}"><span class="fa {{item.icon}} fa-lg"></span>
                        {{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>